.about{
    /* background: rgb(0, 119, 255); */
background: url("https://enews.hamariweb.com/tpl_assets/2023/11/virat-kohli-50th-odi-century-20231115114236.webp");
background-position: center;
background-size: cover;
height: 1000px;
}